body {
  display: flexbox;
  justify-content: center;
  align-items: center;
}

img {
  height: 750px;
}

.bg-menu {
  background-color: #F8EFD7;
}

.tessi {
  background-color: #EC5F53;
  width: 361.02px;
  height: 503.163px;
  flex-shrink: 0;
  filter: drop-shadow(0px 24px 34px rgba(0, 0, 0, 0.25));
}

.elio {
  background-color: #A4B2D3;
  width: 219.057px;
  height: 234.436px;
  flex-shrink: 0;
}

.ale {
  background-color: #F9C74C;
  width: 219.057px;
  height: 234.436px;
  flex-shrink: 0;
}

.icon {
  width: 219.057px;
  height: 234.436px;
  flex-shrink: 0;

}